<!DOCTYPE html>
<html>
  <head>
    <title>Audi</title>


  <head>


 <!--assets pipeline: rails information getting from app/assets/javascript/application.js and from app/assets/stylesheets/application.scss-->

   <!-- activate responsive with uncommmenting the follwing line

   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   -->

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!--Implementation für Wochenbericht_Graph JS Template extern von Website-->
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <!--Implementation für Shopfloor JS Template extern von Website-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" ></script>
    <!--Implementation für Shopfloor JS Template (dots) extern von Website-->
   <script src=http://www.chartjs.org/dist/2.7.1/Chart.bundle.js></script>
   <script src=http://www.chartjs.org/samples/latest/utils.js></script>


</head>


<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<!-- Navigation-->



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top view-container" id="mainNav" style="overflow: visible;">
         <div class="box"> ... </div>
        <button type="button" class="btn btn-warning" id="myBtn" style="margin-top: 8px;">Upload New File</button>

      <!--nurin Mobiler Ansicht sichtbar-->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>



      <!--nur in Mobiler Ansicht sichtbar-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="overflow: visible;">
        <li class="nav-item <%= set_menu('show') %>">
          <%= link_to root_path, class: 'nav-link' do %>
            <i class="fa  fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          <% end %>
        </li>
        <li class="nav-item <%= set_menu('shopfloor') %>">
          <a class="nav-link" href="shopfloor">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Shopfloor</span>
          </a>
        </li>
      </ul>
    </div>


  </nav>

<%=yield%>

<%= render "shared/loading" %>

</body>



</html>

